


body{
  background: url('https://s3-us-west-1.amazonaws.com/schmitzbucket/ship-1204156_1920.jpg')fixed;
  background-size: cover;
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


#container{
text-align: center;

}

#header-image{

  border-radius: 25%;
  box-shadow: 5px 5px 5px gray;
}

#js-startbutton{
display: block;
 margin-left: auto;
 margin-right: auto;
 background-color: royalblue;
 color: white;
 height: 55px;
 width: 320px;
 border: 2px;
 padding: 15px;
 font-size: 20px;
 border-radius: 15%;
 box-shadow: 5px 5px 5px gray;

}

#js-startbutton:hover{
  background: darkblue;
}

#startquiz{
  text-align: center;
}

#deface div {
  
  text-align: center;
  height: 100%;
	display: block;
	flex-direction: column;
	justify-content: space-between;
  
}

form {
height: 100px;
}

#submit-q{
display: block;
 margin-left: auto;
 margin-right: auto;
 background-color: lightcyan;
 color:black;
 height: 55px;
 width: 320px;
 border: 2px;
 padding: 15px;
 font-size: 20px;
 border-radius: 15%;
 box-shadow: 5px 5px 5px gray;

}
#submit-q:hover{
  background: darkblue;
}
#next-button{
 display: block;
 margin-left: auto;
 margin-right: auto;
 background-color: lightcyan;
 color:black;
 height: 55px;
 width: 320px;
 border: 2px;
 padding: 15px;
 font-size: 20px;
 border-radius: 15%;
 box-shadow: 5px 5px 5px gray;
}

#next-button:hover{
  background: darkblue;
}

.bird{

  height: 200px;
  width:200px;
}

#restart-buttom{
 display: block;
 margin-left: auto;
 margin-right: auto;
 background-color: lightcyan;
 color:black;
 height: 55px;
 width: 320px;
 border: 2px;
 padding: 15px;
 font-size: 20px;
 border-radius: 15%;
 box-shadow: 5px 5px 5px gray;

}
#restart-buttom:hover{
  background: darkblue;
}

#final-sc-image{
  border-radius: 25%;
  box-shadow: 5px 5px 5px gray;
  height: 200px;
  width: 200px;
}

.option{
  display: block;
}
